<a href="https://colab.research.google.com/github/marihatabassum/MyMet/blob/BMD-Data-Analysis/BMD_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
temp_df=pd.read_csv("/content/drive/MyDrive/Hydrodynamic_Model/Monthly MAX temp.csv")
temp_df

,Year,Jan_C,Feb_C,Mar_C,Apr_C,May_C,Jun_C,Jul_C,Aug_C,Spt_C,Oct_C,Nov_C,Dec_C,Annual,Month,Station
0,2018,28.0,32.0,34.0,35.5,35.1,34.5,35.8,35.5,36.5,34.5,32.0,30.3,36.5,9,Chattogram_Airport
1,2019,31.5,32.6,35.4,36.4,34.8,35.2,33.3,35.2,35.1,34.5,34.0,31.2,36.4,4,Chattogram_Airport
2,2020,30.3,30.2,35.7,35.0,36.3,34.2,33.3,34.5,35.1,36.0,34.2,31.3,36.3,5,Chattogram_Airport
3,2021,31.9,32.8,38.7,37.0,37.8,34.6,35.4,34.0,35.3,35.6,33.2,32.2,38.7,3,Chattogram_Airport
4,2022,31.3,33.0,34.4,34.0,35.0,34.0,35.5,36.7,35.0,35.0,34.2,31.6,36.7,8,Chattogram_Airport
5,2018,30.2,33.1,34.7,35.7,35.2,34.0,36.0,34.0,36.8,34.7,32.6,30.0,36.8,9,Chattogram_Ambagan
6,2019,31.2,33.2,35.5,37.5,35.5,35.2,33.7,35.2,35.6,35.0,33.8,32.6,37.5,4,Chattogram_Ambagan
7,2020,31.8,32.0,36.5,36.0,37.8,34.0,33.7,35.0,36.5,37.2,35.0,31.8,37.8,5,Chattogram_Ambagan
8,2021,33.2,34.0,39.2,38.0,37.2,33.6,34.4,33.7,36.5,35.5,33.8,32.5,39.2,3,Chattogram_Ambagan
9,2022,30.0,34.0,34.8,35.4,34.5,34.4,35.0,36.5,35.4,35.5,34.5,32.4,36.5,8,Chattogram_Ambagan
10,2018,27.0,32.0,33.0,34.1,34.6,34.4,34.3,36.0,35.3,34.0,32.2,29.5,36.0,8,Kutubdia
11,2019,30.8,30.8,34.5,36.0,36.0,36.9,33.6,34.2,34.5,34.5,33.8,31.0,36.9,6,Kutubdia
12,2020,29.0,29.5,34.0,34.1,35.0,34.5,33.5,34.0,35.0,35.3,33.0,30.3,35.3,10,Kutubdia
13,2021,29.5,30.0,38.6,37.0,37.2,36.8,35.0,33.2,34.5,35.2,33.2,32.0,38.6,3,Kutubdia
14,2022,28.2,32.5,32.8,34.5,34.5,34.0,34.2,36.0,34.8,34.3,33.6,31.5,36.0,8,Kutubdia
15,2018,27.2,33.2,35.2,36.5,35.4,35.5,36.0,35.5,36.0,34.9,32.2,29.3,36.5,4,Rangamati
16,2019,30.2,33.8,37.0,37.7,37.2,36.2,35.5,35.8,35.5,34.5,34.0,29.2,37.7,4,Rangamati
17,2020,29.0,32.3,37.4,38.2,37.5,35.5,34.6,36.0,36.0,36.5,33.5,30.0,38.2,4,Rangamati
18,2021,30.5,33.0,38.5,39.5,39.0,35.3,35.0,34.5,35.6,35.5,33.3,30.5,39.5,4,Rangamati
19,2022,29.0,32.5,37.5,37.0,37.0,34.0,36.0,37.5,35.4,34.5,34.5,31.2,37.5,3,Rangamati

In [ ]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     20 non-null     int64
 1   Jan_C    20 non-null     float64
 2   Feb_C    20 non-null     float64
 3   Mar_C    20 non-null     float64
 4   Apr_C    20 non-null     float64
 5   May_C    20 non-null     float64
 6   Jun_C    20 non-null     float64
 7   Jul_C    20 non-null     float64
 8   Aug_C    20 non-null     float64
 9   Spt_C    20 non-null     float64
 10  Oct_C    20 non-null     float64
 11  Nov_C    20 non-null     float64
 12  Dec_C    20 non-null     float64
 13  Annual   20 non-null     float64
 14   Month   20 non-null     int64
 15  Station  20 non-null     object
dtypes: float64(13), int64(2), object(1)
memory usage: 2.6+ KB

In [ ]:
temp_df.describe()

,Year,Jan_C,Feb_C,Mar_C,Apr_C,May_C,Jun_C,Jul_C,Aug_C,Spt_C,Oct_C,Nov_C,Dec_C,Annual,Month
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,2020.000000,29.990000,32.325000,35.870000,36.255000,36.130000,34.840000,34.690000,35.150000,35.520000,35.135000,33.530000,31.020000,37.230000,5.600000
std,1.450953,1.636074,1.292438,1.949116,1.513266,1.352619,0.957739,0.956914,1.129276,0.673248,0.788253,0.824046,1.081714,1.151246,2.392972
min,2018.000000,27.000000,29.500000,32.800000,34.000000,34.500000,33.600000,33.300000,33.200000,34.500000,34.000000,32.000000,29.200000,35.300000,3.000000
25%,2019.000000,29.000000,32.000000,34.475000,35.300000,35.000000,34.000000,33.700000,34.150000,35.075000,34.500000,33.150000,30.225000,36.475000,4.000000
50%,2020.000000,30.200000,32.550000,35.450000,36.200000,35.750000,34.500000,34.800000,35.200000,35.400000,35.000000,33.700000,31.200000,36.850000,4.500000
75%,2021.000000,31.225000,33.125000,37.425000,37.125000,37.200000,35.350000,35.500000,36.000000,36.000000,35.500000,34.050000,31.850000,37.900000,8.000000
max,2022.000000,33.200000,34.000000,39.200000,39.500000,39.000000,36.900000,36.000000,37.500000,36.800000,37.200000,35.000000,32.600000,39.500000,10.000000

In [ ]:
temp_df.groupby("Year")["Jun_C"].count()

Year
2018    4
2019    4
2020    4
2021    4
2022    4
Name: Jun_C, dtype: int64

In [ ]:
!pip install pandas-profiling
import pandas_profiling

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.9/dist-packages (1.4.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from pandas-profiling) (1.15.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.9/dist-packages (from pandas-profiling) (1.3.5)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.9/dist-packages (from pandas-profiling) (3.1.2)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.9/dist-packages (from pandas-profiling) (3.5.3)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2>=2.8->pandas-profiling) (2.1.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.4->pandas-profiling) (23.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.4->pandas-profiling) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.4->pandas-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.4->pandas-profiling) (2.8.2)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.22.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.4->pandas-profiling) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.4->pandas-profiling) (8.4.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib>=1.4->pandas-profiling) (4.39.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.19->pandas-profiling) (2022.7.1)

In [ ]:
from pandas_profiling import ProfileReport
help(ProfileReport)

Help on class ProfileReport in module pandas_profiling:

class ProfileReport(builtins.object)
 |  ProfileReport(df, **kwargs)
 |
 |  Generate a profile report from a Dataset stored as a pandas `DataFrame`.
 |
 |  Used has is it will output its content as an HTML report in a Jupyter notebook.
 |
 |  Attributes
 |  ----------
 |  df : DataFrame
 |      Data to be analyzed
 |  bins : int
 |      Number of bins in histogram.
 |      The default is 10.
 |  check_correlation : boolean
 |      Whether or not to check correlation.
 |      It's `True` by default.
 |  correlation_threshold: float
 |      Threshold to determine if the variable pair is correlated.
 |      The default is 0.9.
 |  correlation_overrides : list
 |      Variable names not to be rejected because they are correlated.
 |      There is no variable in the list (`None`) by default.
 |  check_recoded : boolean
 |      Whether or not to check recoded correlation (memory heavy feature).
 |      Since it's an expensive computation it can be activated for small datasets.
 |      `check_correlation` must be true to disable this check.
 |      It's `False` by default.
 |  pool_size : int
 |      Number of workers in thread pool
 |      The default is equal to the number of CPU.
 |
 |  Methods
 |  -------
 |  get_description
 |      Return the description (a raw statistical summary) of the dataset.
 |  get_rejected_variables
 |      Return the list of rejected variable or an empty list if there is no rejected variables.
 |  to_file
 |      Write the report to a file.
 |  to_html
 |      Return the report as an HTML string.
 |
 |  Methods defined here:
 |
 |  __init__(self, df, **kwargs)
 |      Constructor see class documentation
 |
 |  __str__(self)
 |      Overwrite of the str method.
 |
 |      Returns
 |      -------
 |      str
 |          A string representation of the object.
 |
 |  get_description(self)
 |      Return the description (a raw statistical summary) of the dataset.
 |
 |      Returns
 |      -------
 |      dict
 |          Containing the following keys:
 |              * table: general statistics on the dataset
 |              * variables: summary statistics for each variable
 |              * freq: frequency table
 |
 |  get_rejected_variables(self, threshold=0.9)
 |      Return a list of variable names being rejected for high
 |      correlation with one of remaining variables.
 |
 |      Parameters:
 |      ----------
 |      threshold : float
 |          Correlation value which is above the threshold are rejected
 |
 |      Returns
 |      -------
 |      list
 |          The list of rejected variables or an empty list if the correlation has not been computed.
 |
 |  to_file(self, outputfile='pandas_profiling.default_outputfile')
 |      Write the report to a file.
 |
 |      By default a name is generated.
 |
 |      Parameters:
 |      ----------
 |      outputfile : str
 |          The name or the path of the file to generale including the extension (.html).
 |
 |  to_html(self)
 |      Generate and return complete template as lengthy string
 |          for using with frameworks.
 |
 |      Returns
 |      -------
 |      str
 |          The HTML output.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  file = None
 |
 |  html = ''

In [ ]:
%run BMD_Data_Analysis.py

ERROR:root:File `'BMD_Data_Analysis.py'` not found.

In [ ]:
year21 = temp_df[temp_df.Year == 2021]
year21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 3 to 18
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     4 non-null      int64
 1   Jan_C    4 non-null      float64
 2   Feb_C    4 non-null      float64
 3   Mar_C    4 non-null      float64
 4   Apr_C    4 non-null      float64
 5   May_C    4 non-null      float64
 6   Jun_C    4 non-null      float64
 7   Jul_C    4 non-null      float64
 8   Aug_C    4 non-null      float64
 9   Spt_C    4 non-null      float64
 10  Oct_C    4 non-null      float64
 11  Nov_C    4 non-null      float64
 12  Dec_C    4 non-null      float64
 13  Annual   4 non-null      float64
 14   Month   4 non-null      int64
 15  Station  4 non-null      object
dtypes: float64(13), int64(2), object(1)
memory usage: 544.0+ bytes

In [ ]:
profile = ProfileReport(temp_df)
profile

TypeError: ignored

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
sns.scatterplot(data=temp_df, x="Year", y="Jun_C")

In [ ]:
year21.plot()

In [ ]:
temp_df["Jan_C"].plot(kind = 'hist')